.create-post-modal {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  align-items: center;
  justify-content: center;
  z-index: 10;
}
.outside-click {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--modal-bg);
}
.create-post-modal > .inner-container {
  width: 60%;
}
@media screen and (max-width: 650px) {
  .create-post-modal > .inner-container {
    width: 80%;
  }
}
