.bookmarks {
    background-color: var(--gray-bg-color);
    padding: 2rem;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    gap:1rem;


}
.bookmarks>.empty-posts-container{
    padding-left:4rem;
}
