.nav-sidebar {
  position:sticky;
  top:0;
  left:0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--gray-bg-color);
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  /* z-index:5; */
}
.nav-sidebar>h2{
  background: -webkit-linear-gradient(bottom, rgb(54, 89, 154), cornflowerblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.sidebar-link-child {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  color: var(--dark-primary);
}
.sidebar-link-child:hover {
  background-color: white;
  border-radius: 0.5rem;
}
.sidebar-links>button{
  border-radius:0.4rem;
  padding:0.8rem 1rem;
  border:0;
  background-color:cornflowerblue;
  color:white;

}
.active {
  color: cornflowerblue;
}
.sidebar-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem 1.5rem;

  background-color: white;
  border-radius: 0.5rem;
}
.sidebar-profile >a> .profile-main {
  font-size: 0.8rem;
  display: flex;
  gap:0.5rem;
  flex-direction: column;
  align-items: center;
  cursor:pointer
}
.sidebar-profile >a> .user-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  cursor:pointer;
}
.sidebar-profile>.fa-icons{
  color:var(--dark-primary);
}
