.nav-sidebar {
  position: sticky;
  top: 0;
  left: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--gray-bg-color);
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  /* z-index:5; */
}
.sidebar-links > .logo {
  display: block;
}
.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sidebar-link-child {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  color: var(--dark-primary);
}
.sidebar-link-child:hover {
  background-color: white;
  border-radius: 0.5rem;
}
.sidebar-links > button {
  border-radius: 0.4rem;
  padding: 0.8rem 1rem;
  border: 0;
  background-color: cornflowerblue;
  color: white;
}
.active {
  color: cornflowerblue;
}
.sidebar-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem 1.5rem;

  background-color: white;
  border-radius: 0.5rem;
}
.sidebar-profile > a > .profile-main {
  font-size: 0.8rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.sidebar-profile > a > .user-img {
  width: 100%;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
}
.sidebar-profile > .fa-icons {
  color: var(--dark-primary);
}
.icon-navbar {
  display: none;
}
.plus-outer {
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plus-outer > .fa-icons {
  color: white;
}

.icon-navbar > .active {
  color: cornflowerblue;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .nav-sidebar {
    display: none;
  }
  .icon-navbar {
    border-right: 1px solid rgb(236, 236, 236);
    position: sticky;

    top: 0;

    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    height: 100vh;
  }
  .plus-outer {
    width: 30px;
    height: 30px;
  }
  .plus-outer > .fa-icons {
    width: 20px;
    height: 20px;
  }
  .icon-navbar > a > .fa-icons {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 768px) {
  .icon-navbar {
    display: none;
  }
  .nav-sidebar {
    display: flex;
    justify-content: space-between;
  }
  .sidebar-profile {
    flex-direction: row;
    gap: 0.5rem;
    background-color: transparent;
  }
  .sidebar-profile > a > .user-img {
    width: 60px;
    height: 60px;
  }
  .sidebar-profile > a > .profile-main {
    align-items: flex-start;
    gap: 0.5rem;
  }
  .sidebar-profile > .fa-icons {
    display: none;
  }
  .sidebar-links > .profile {
    display: flex;
  }
  .sidebar-links > h2 {
    padding-top: 1rem;
  }
}

@media screen and (max-width: 650px) {
  .nav-sidebar {
    display: none;
  }
  .icon-navbar {
    border: none;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--bluish-white);
    height: max-content;
    z-index: 2;
  }
  .plus-outer {
    width: 25px;
    height: 25px;
  }
  .plus-outer > .fa-icons {
    width: 15px;
    height: 15px;
  }
  .icon-navbar > a > .fa-icons {
    width: 25px;
    height: 25px;
  }
}
