.home {
  background-color: var(--gray-bg-color);
  padding:2rem;
  align-self: center;
  display:flex;
  flex-direction: column;
  gap:1.5rem;
}
.tweet-container {
  position:relative;
  width: calc(500px + 4rem);
  background-color: white;
  padding:2rem;
  display:flex;
  align-items:center;
  border-radius:0.5rem;
}
textarea {
  border: 0;
  padding:2rem;
  
  resize: none;
  width:80%;
  
}
textarea:focus {
  outline: none;
}

.tweet-container > button {
  background-color: cornflowerblue;
  box-shadow: 1px 1px 2px rgb(62, 90, 142);
  border: 0;
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  color: white;
  align-self: flex-end;
  position:absolute;
  bottom:10%;
  right:4%;
  display:flex;
  gap:0.4rem;
  align-items:center;

}

.filter {
  display: flex;
  gap:0.5rem;
 background-color: white;
 padding:0.5rem;
  border-radius:0.5rem;
  width:max-content;
  align-self: center;
}
.filter>div{
  display:flex;
  gap:0.2rem;
  align-items: center;
  padding:0.4rem 0.5rem;
  border-radius:0.5rem;

}

.active-filter{
  background-color: cornflowerblue;
  color:white;
}
.filter-icon{
  color:light
}
.posts-outer-container{
  display:flex;
  flex-direction:column;
  gap:1rem;
}
