.modal {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: var(--modal-bg);
}

.model-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 0.2rem;
    box-shadow: 3px 3px 7px rgb(100, 99, 99);
}
.modal-body>textarea{
    width:400px;
    height:200px;
    resize:none;

}

.modal-header {
    padding: 2rem;
    /* background-color: rgb(239, 239, 241); */
    border-bottom: 1px solid lightGray;
}

.model-content>.modal-footer {
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    /* background-color: rgb(239, 239, 241); */
    border-top: 1px solid lightGray;
}
.model-content>.modal-footer>span{
    cursor:pointer
}
.model-content>.modal-footer>span:first-child{
    color:cornflowerblue;

}
.model-content>.modal-footer>span:nth-child(2){
    color:gray;
}