@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  --gray-bg-color: #f1f5f9;
  --bluish-white: #e2efff;
  --dark-primary: #1e293b;
  --modal-bg: rgba(0, 0, 0, 0.5);
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
}
input:focus {
  outline: none;
}
.toast-message {
  top: 2.5rem;
  opacity: 0.9;
  border-radius: 0.2rem;
}
.App {
  display: grid;
  grid-template-columns: 2fr 5.75fr 2.25fr;

  justify-content: center;
}

.fa-icons {
  height: 20px;
  width: 20px;
}

.grey-color {
  color: rgb(67, 84, 128);
}
.user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.posts-outer-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.head {
  display: flex;
  gap: 1rem;
  padding: 1rem 0 0 2rem;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .App {
    grid-template-columns: 30% 70%;
  }
}
@media screen and (max-width: 650px) {
  .App {
    grid-template-columns: 100%;
  }
}
